{% extends 'cards/base.html'%}
{% block content %}

<div class="row pt-3">
  <div class="col-md-12">
    <p><strong> Flash Cards </strong> {{ now | date:"D d M Y"}}</p>
  </div>
</div>
<div class="row">
      {% for card in cards %}
    <div class="col-md-4 mb-5">
      <div class="card border-0 shadow h-100 ">
       
        <div class="card-body">
          <h5 class="card-title"><strong>{{card.title}}</strong></h5>
          
        <p class='text-muted'>{{ card.description}}</p>
        </div>
      <div class="card-footer">
      <a class='btn btn-danger float-left' href="{% url 'cards-delete' card.id %}">Delete</a>
      <a class='btn btn-warning float-right' href="{% url 'cards-update' card.id %}">update</a>
      </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
